@font-face {
font-family: 'poppins';
src: 
    url('../assets/font/Poppins-Regular.ttf'), /* IE9 Compat Modes */
    url('../assets/font/Poppins-Regular.ttf') format('ttf'); /* Modern browsers */
}

@font-face {
    font-family: 'montserrat';
    src: 
        url('../assets/font/Montserrat-Black.ttf'), /* IE9 Compat Modes */
        url('../assets/font/Montserrat-Black.ttf') format('ttf'); /* Modern browsers */
}

body {
    margin: 0;
    background: black;
}

canvas {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 1;
}

#title-container h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: montserrat, sans-serif;
    font-style: black;
    font-size: 4vw;
}

#title-container h2 {
    margin: 0;
    text-transform: uppercase;
    font-family: montserrat, sans-serif;
    font-style: black;
    font-size: 1.95vw;
}

#title-container p {
    font-family: poppins, sans-serif;
    font-size: 1.2vw;
    text-align: center;
    max-width: 80vw;
}

#icons {
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

#icons a {
    color: white;
    cursor: pointer;
    font-size: 2vw;
}

#click_info {
    position: absolute;
    bottom: 2vh;
    text-align: center;
    color: white;
    font-size: 2vw;
}

.disable_select {
    cursor: default;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
}



#menu {
    display: flex;
    height: 180px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 42vh;
    right: 5vw;
}

.menu_element {
    display: flex;
    height: 2vh;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 0.5;
    transition: all ease-in-out 0.3s;
}

.menu_element p {
    margin: 2px;
    cursor: default;
    text-transform: uppercase;
    font-family: poppins, sans-serif;
    color: white;
    font-size: 2vh;
    line-height: 2vh;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.menu_element.selected {
    opacity: 1;
}

.menu_element.selected p {
    line-height: 4vh;
    transform: translate3d(0, -1vh, 0);
}

.menu_element.selected div {
    transform: scale(2);
}

.menu_element  p.displayed {
    opacity: 1;
    transform: translateX(-3vh);
}

.menu_element.selected  p.displayed {
    opacity: 1;
    transform: translate3d(-3vh, -1vh, 0);
}

.menu_icon {
    width: 2vh;
    height: 2vh;
    background: none;
    border: 2px solid #fff;
    border-radius: 2vh;
    box-sizing: content-box;
    transition: ease-in-out 0.3s;
}

.menu_icon:hover {
    cursor : pointer;
    transform: scale(1.3);
}

@media only screen
  and (orientation: portrait) { 
    #title-container h1 {
        font-size: 8vw;
    }

    #title-container h2 {
        font-size: 3.9vw;
    }

    #title-container p {
        font-size: 3vw;
    }

    #icons {
        width: 50vw;
    }

    #icons a {
        font-size: 6vw;
    }

    #click_info {
        display: none;
    }
}